
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #444343;

  --brand-green: #00A651;

  --font-body: "Playfair Display", serif;
  --font-heading: "Montserrat", sans-serif;
}


@theme inline {
  --color-brand: var(--brand-green);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  
}
.font-heading {
  font-family: var(--font-heading);
}

.font-body {
  font-family: var(--font-body);
}



/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */