
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #444343;

  --brand-green: #00A651;
  --brand-yellow:#D2AC67;
  --brand-red:#ED1C24;

  --font-body: "Playfair Display", serif;
  --font-heading: "Montserrat", sans-serif;
}


@theme inline {
  --color-brand: var(--brand-green);
  --color-brand-accent: var(--brand-yellow);
  --color-brand-danger: var(--brand-red);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  
}
.font-heading {
  font-family: var(--font-heading);
}

.font-body {
  font-family: var(--font-body);
}

.line-input {
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  padding: 6px 2px;
  font-size: 14px;
  outline: none;
}

.line-input:focus {
  border-bottom: 2px solid #dc2626; /* red on focus */
}

/* globals.css */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}





/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */